#fleet-section {
    min-height: 100vh;
    width: 100vw;
    
}

#search-filter {
    height: 10vh;
    background-color: rgb(32, 32, 32);
    margin-bottom: 20px;
 
}

#cards {
   
    width: 98 vw;
    margin-left: auto;
    margin-right: auto;
}