#remove-car-section {
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

#remove-car-form-section {
  margin: 50px auto;
  background-color: #e0e0e0;
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#remove-car-section h1 {
  padding: 2rem;
}

#remove-car-text {
  width: 50%;
  margin: 0 auto;
}

#remove-car-btns {
  width: 50%;
  margin: 0 auto 30px auto;
}

@media (max-width: 768px) {
  #remove-car-form-section {
    width: 90%;
  }

  #remove-car-text {
    width: 80%;
    margin: 0 auto;
  }

  #remove-car-btns {
    width: 80%;
    margin: 0 auto 30px auto;
  }
}
